<script lang="ts">
	import type { VocabularyItem } from '$lib/models';
	import { Table, type PaginationSettings, Paginator, tableMapperValues } from '@skeletonlabs/skeleton';
    import type { PageData } from './$types';
    
    export let data: PageData;

    const words: VocabularyItem[] = data.words;

    let paginationSettings = {
        page: 0,
        limit: 10,
        size: words.length,
        amounts: [5, 10, 15, 20],
    } satisfies PaginationSettings;

    $: paginatedSource = words.slice(
        paginationSettings.page * paginationSettings.limit,
        paginationSettings.page * paginationSettings.limit + paginationSettings.limit
    );

    let tableHeaders: string[] = ['Оригинальное слово', 'Перевод'];
</script>

<svelte:head>
    <title>Words list</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-start">
	<div class="space-y-10 text-center m-5 flex flex-col items-center">
		<Table source={{head: tableHeaders, body: tableMapperValues(paginatedSource, ['original_word', 'translated_word'])}} />
		<Paginator
			bind:settings={paginationSettings}
			showFirstLastButtons="{false}"
			showPreviousNextButtons="{true}"
		/>
	</div>
</div>