<script lang="ts">
    import type { PageData } from './$types';
    
    export let data: PageData;
</script>

<svelte:head>
    <title>My dictionary</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-center">
	<div class="space-y-10 text-center flex flex-col items-center">
		<h2 class="h2">Словарь иностранных слов</h2>
		<div class="space-y-2">
			<p>Просмотр слов расположен по пути</p>
			<a href="/words_list"><code class="code">/words_list</code></a>
            <p>Добавление слов располоджено по пути</p>
			<a href="/add_word"><code class="code">/add_word</code></a>
		</div>
	</div>
</div>

<style lang="postcss">
</style>
