<script lang="ts">
	import '../app.postcss';
	import { AppShell, AppBar } from '@skeletonlabs/skeleton';
</script>

<!-- App Shell -->
<AppShell>
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar>
			<svelte:fragment slot="lead">
				<strong class="text-xl uppercase">Практическое задание 1</strong>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<a
					class="btn btn-sm variant-ghost-surface"
					href="/home"
					target="_self"
				>
					Home
				</a>
				<a
					class="btn btn-sm variant-ghost-surface"
					href="/words_list"
					target="_self"
				>
					Words list
				</a>
				<a
					class="btn btn-sm variant-ghost-surface"
					href="/add_word"
					target="_self"
				>
					Add word
				</a>
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<!-- Page Route Content -->
	<slot />
</AppShell>
