<script lang="ts">
    import type { ActionData, PageData } from './$types';
    
    export let data: PageData;
    export let form: ActionData;
</script>

<svelte:head>
    <title>Add word</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-start">
	<div class="space-y-10 text-center m-5 flex flex-col items-center bg-slate-700 rounded-3xl h-fit p-5">

        {#if form?.success == false}
            <h2>{form?.message}</h2>
        {/if}

		<form class="flex flex-col items-center justify-between h-56" method="POST">    
            <label class="label" for="original_word"> Оригинальное слово </label>
            <input class="input p-2"
                type="text"
                id="original_word"
                name="original_word"
                required
                placeholder="слово"
            />
        
            <label class="label" for="translated_word"> Перевод </label>
            <input class="input p-2" type="text" required id="translated_word" name="translated_word" placeholder="перевод"  />      
    
            <button class="btn variant-filled-primary" type="submit"> Добавить перевод </button> 
        </form>
	</div>
</div>